.video {
  height: 75vh;
  width: 100vw;
}
.getvideos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.getvideosbtn {
  margin-bottom: 1rem;
  color: white;
  background-color: #ff00c3;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 10px;
}
